.breedsList{
    margin: 1rem 0;
    padding: 1rem;
    width: 20%;
    max-height: 80vh;
    display: flex!important;
    flex-direction: column;
}
.breedsListSrollBar{
    overflow: auto;
    flex-grow: 1;
}
.applyFilters{
    display: none;
}
.item{
    position: relative;
}
.subItems{
    max-height: 0px;
    overflow: hidden;
    padding-left: 1rem;
}
.itemName a , .subItemName a{
    font-weight: 500;
    color: #000000;
    position: relative;
    padding-left: 1rem;
    cursor: pointer;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 10px;
        height: 10px;
        border: 1px solid #000000;
        border-radius: 50%;
        transform: translateY(50%);
    }
}
.default.active ,.offClear,.item.itemName.active,.subItemName.active{
    pointer-events: none;
}
.subItems.active{
    max-height: 100%;
}
.itemName.active a,.subItemName.active a{
    &::before{
        content: '';
        position: absolute;
        left: 3px;
        top: 8.5px;
        width: 6px;
        height: 6px;
        background: #000000;
        border-radius: 50%;
    }
}
.Filter{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f1f1f1;
    padding: 0.5rem;
    margin: 5px 0;
    a{
        color: #ff9100;
        &:hover{
            opacity: 0.7;
            text-decoration:none;
        }
    }
}

.filterBtnContain{
    display: none;
    button{
       background-color: #66af37;
       padding: 1rem;
       margin: 1rem 0;
       color:#ffffff
    }
}


.breedsListSrollBar::-webkit-scrollbar {
    width: 5px;
}
.breedsListSrollBar::-webkit-scrollbar-track {
background: #f1f1f1;
}
.breedsListSrollBar::-webkit-scrollbar-thumb {
background: #888;
}
.breedsListSrollBar::-webkit-scrollbar-thumb:hover {
background: #555;
}

@media only screen and (max-width: 991px){
    .breedsList{
        position: fixed;
        display: none!important;
        padding-top: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        max-height: 100vh;
        background: #ffffff;
    }
    .breedsList.active{
        display: flex!important;
        z-index: 1111111111111;
    }
    .applyFilters{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50px;
        button{
            font-weight: bold;
            border: 1px solid;
            padding: 0.5rem;
        }
    }
    .filterBtnContain{
        display: block;
    }
}
