.formControl {
    display: block;
    position: relative;
}
.error {
    .hoverEror {
        position: absolute;
        right: 5px;
        bottom: 10px;
        z-index: 2;
        background: #e4d9d9;
        padding: 0px 10px;
        opacity: 0.9;
        border-radius: 5px;
        font-size: 20px;
        font-weight: bold;
        transition: 0.5s all;
        max-width: 30px;
        max-height: 30px;
        display: flex;
        align-items: center;
        transition: 1.5s all;
        &:hover{
            max-width: 100%;
        }
    }
}
.hoveredEror{
    padding-left: 10px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: normal;
    overflow: hidden;
    transition: 1.5s all;
}
